<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dy.easale" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.AddActivities.AddArtworkActivity"
            android:label="@string/title_activity_add_artwork"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Controller.DetailActivities.DetailArtworkActivity"
            android:label="@string/title_activity_detail_artwork" >
        </activity>
        <activity
            android:name=".Controller.ListActivities.ArtworkListActivity"
            android:label="@string/title_activity_artwork_list" >
        </activity>
        <activity
            android:name=".Controller.AddActivities.AddEventForArtwork"
            android:label="@string/title_activity_add_event_for_artwork" >
        </activity>
        <activity
            android:name=".Controller.AddActivities.AddEventActivity"
            android:label="@string/title_activity_add_event" >
        </activity>
        <activity
            android:name=".Controller.ListActivities.EventListActivity"
            android:label="@string/title_activity_event_list" >
        </activity>
        <activity
            android:name=".Controller.ListActivities.EventToActivateListActivity"
            android:label="@string/title_activity_event_list" >
        </activity>
        <activity
            android:name=".Controller.AddActivities.AddEventArtActivity"
            android:label="@string/title_activity_add_event_art" >
        </activity>
        <activity
            android:name=".Controller.DetailActivities.DetailEventActivity"
            android:label="@string/title_activity_detail_event" >
        </activity>
        <activity
            android:name=".Controller.ListActivities.EditSaleActivity"
            android:label="@string/title_activity_edit_sale" >
        </activity>
    </application>

</manifest>
